:root {
    /* color */
    --clr-link: #262626;
    --clr-paragraph: #000000;
    --clr-heading: #000000;

    /* font size */
    --font-size-paragraph: 15px;
    --font-size-heading: 24px;
}


* {  
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fff;
    color: #000;
    line-height: 1.5;
}


/* CONTAINER */
.container {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

/* NAVIGATION */
.nav--flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 54px;
    padding: 20px 0;
    font-size: 13px;
}

.nav__logo {
    width: 125px;
    padding: 16px 6px 16px 10px;
    cursor: pointer;
}

.nav__main--flex {
    display: flex;
    flex-direction: row;
}

.nav__main {
    flex-grow: 1;
    margin-left: 20px;
}


.nav__li {
    padding: 0 10px;
} 

.nav__li a {
    padding-bottom: 2px;
    color: var(--clr-link);
}

.nav__li a:hover {
    border-bottom: 2px solid #262626;
}


.nav__right--flex {
    display: flex;
    flex-direction: row;
}




/* SHOWCASE */

.showcase {
    width: 100%;
    height: 472px;
    background-image: url("images/surfaceLaptop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    position: relative;
}

.showcase__content {
    width: 40%;
    position: absolute;
    left: 78px;
    top: 148.5px;
}

.showcase__heading {
    font-weight: 600;
    font-size: var(--font-size-heading);
    color: var(--clr-heading);
    margin-bottom: 10px;
}

.showcase__para {
    color: var(--clr-paragraph);
    font-size: var(--font-size-paragraph);
    margin-bottom: 10px;
}


.showcase__btn--clr-green {
    display: inline-block;
    color: #000;
    padding: 3px 14px 5px;
    background: #9bf00b;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
}

.showcase__btn--clr-blk {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 8px 20px;
    background: #000;
    color: #fff;
    font-size: 15px;
    margin-top: 12px;
    text-align: center;
}

.showcase__btn--clr-blk i {
    margin-left: 3px;
}


.showcase__btn--clr-blk:hover {
    opacity: 0.9;
}

.showcase__btn--clr-blk:hover span {
    border-bottom: 2px solid #fff;
}



/* ICON CARDS */

.icon-cards {
    padding: 48px 0px;
}

.icon-cards ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 48px;
    margin-right: 48px;
}

.icon-cards ul li a {
    display: inline-block;
    width: 184px;
    padding: 12px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-cards ul li a img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
} 

.icon-cards ul li a span {
    text-align: center;
    font-weight: 600;
    margin-left: 22px;
    margin-right: 22px;
}

.icon-cards ul li a span:hover {
    text-decoration: underline;
    text-decoration-color: #262626;
    text-decoration-style: solid;
}


/* HOME CARDS */

.home-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.home-cards div img {
    width: 100%;         /* so that images remain within their container */
    margin-bottom: 20px;
}

.home-cards h3 {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
}

.home-cards .home-cards-link {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: 600;
}

.home-cards .home-cards-link i {
    padding-left: 3px;
}

.home-cards .multi-links .home-cards-link {
    display: block;
}

.home-cards .home-cards-link:hover span {
    border-bottom: 2px solid #0067b8;
}

.home-cards .home-cards-link:hover i {
    margin-left: 10px;
    transition: all 200ms ease-in-out;
}


/* WINDOWS 11 */

.windows {
    width: 100%;
    height: 472px;
    background-image: url("images/windows11.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 48px 0px;
}

.windows .content {
    position: absolute;
    left: 78px;
    top: calc(40%);
}

.windows .content h2 {
    font-size: 24px;
    font-weight: 600;
}

.windows .content h2, .windows .content p {
    color: #fff;
    margin-bottom: 10px;
}

.button-wht {
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: 8px 20px;
    background: #fff;
    color: #000;
    font-size: 15px;
    margin-top: 12px;
    text-align: center;
}

.button-wht i {
    margin-left: 3px;
}


.button-wht:hover {
    opacity: 0.9;
}

.button-wht:hover span {
    border-bottom: 2px solid #000;
}


.pre-home-cards h2 {
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 18px;

}

.home-cards div .new-button {
    display:inline-block;
    padding: 3px 14px 5px;
    margin: 12px 0px 4px;
    color: #000;
    background-color: #ffd800;
}


/* SOCIAL */

.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;   
    margin-top: 48px;
}

.social ul {
    display: flex;
    flex-direction: row;
}

.social span {
    color: rgba(0, 0 ,0, 0,6);
    padding-right: 12px;
    margin-bottom: 4px;
}

.social ul li a {
    margin-right: 12px;
    border: 2px solid transparent;
}


/* LINKS */

.links {
    margin-top: 48px;
    background: #f2f2f2;
}

.links-inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    width: 90%;
    margin: auto;
}

.links-inner h3 {
    color: #616161;
    font-size: 15px;
    font-weight: 600;
    padding: 36px 0px 4px;
}

.links-inner li {
    padding: 5px 0px;
}

.links-inner a {
    color: #616161;
    font-size: 11px;
}

.links-inner a:hover {
    text-decoration: underline;
    text-decoration-color: #262626;
    text-decoration-style: solid;
}

/* Footer */

.footer {
    padding: 30px 16px;
    background: #f2f2f2;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.footer-inner ul {
    display: flex;
    flex-direction: row;
}

.footer-inner li {
    padding: 0px 24px 4px 0px;
}

.footer-inner ul li a {
    font-size: 11px;
    color: #616161;
}

.footer-inner div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-inner div span {
    font-size: 11px;
    padding-right: 16px;
    color: #616161;
}

.footer-inner div i {
    font-size: 20px;
    margin-right: 10px;
}

.footer-inner a:hover {
    text-decoration: underline;
    text-decoration-color: #262626;
    text-decoration-style: solid;
}

.footer-inner div span:hover {
    text-decoration: underline;
    text-decoration-color: #262626;
    text-decoration-style: solid;
}